

.navbar{
    background-color: transparent;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar a {
    color: black;
    text-decoration: none;

}

.logo{
    font-size: 2em;
}

.about{
    font-size: 1em;
}

.intro{
   display: flex;
   flex-direction: column;
   align-items: center;
   
}

.main-logo{
   
    margin-bottom: 0;
    padding-bottom: 0;
    font-size: 8vw;  
    line-height: 1;
    
}

.tag-line{
    
    margin-top: 0;
    padding-top: 0;
    letter-spacing: 0.8vw;
    word-spacing: 0.8vw;
    line-height: 1;
}

.category{
    display: flex;
    margin: 2%;
    padding: 0 20%;
    align-items: center;
    justify-content: space-between;
}

.category a{
    color: black;
    text-decoration: none;
    padding: 10px 20px;
    border: 1px solid rgb(0, 0, 0) ;
    border-radius: 20px;
}



.tunes-container {
    opacity: 1;
    transform: translateY(20px);
    padding: 0% 2%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 4%;
    transition: all 0.4s ease;
}

.tunes{
    opacity: 0;
    transform: translateY(-10px);
    transition: all 1s ease-in-out;
}


.tunes-item{
    border-radius: 5%;
    padding: 20px 20px;
    padding-top: 30px;
    display: grid;
    grid-template-rows: 1fr auto auto 1fr auto;
    row-gap: 0;
}
.show{
    opacity: 1;
    transform: translateY(0);
    
}

.thumbnail{
    place-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
}


.thumbnail img{
    border-radius: 50%;
}

.song-name{
    margin: 0;
    padding: 0;
    place-self: center;
    font-size: 2vw;

}

.artist{
    margin: 0;
    padding: 0;
    place-self: center;
    font-size: 1.5vw;
}

.audio-player{
    display: grid;
    grid-template-columns: auto 1fr auto;
    column-gap: 2%;
    place-self: center;
    background-color: transparent;
    width: 90%;
    height: 20px;
    padding: 10px 20px;
    border: none solid black;
    border-radius: 20px;

}


.play-button {
    place-self: center start;
    font-size: 15px;
    color: black ;
    transition: color 0.3s;
  }

  .volume-on{
    font-size: 15px;
    color: black;
    place-self: center end;
  }
  
  .progress-container{
    place-self: center;
    background-color: black;
    width: 100%;
    height: 4px;
    border-radius: 10px;
  }

  .spotify-link{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
  }

  .spotify-link a{
    text-decoration: none;
    padding: 10px 20px;
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: none;
    transition: all 0.4s ease;
  }

  .spotify-link a:hover{
    border: 1px solid transparent;
  }


  /* for romantic theme */

